{% assign external = site.externals | where: "name", page.external | first %}
{% if external %}
  <section class="external">
    <div class="details">
      {% if external.photo %}
        <img class="img-rounded" src="{{ external.photo }}" alt="{{ external.display_name }}">
      {% else %}
        <img class="img-rounded" src="/assets/img/user.jpg" alt="{{ external.display_name }}">
      {% endif %}
      <p class="def">{{ site.translations.text.external | default: "External" }}</p>
      <h3 class="name">
        <a href="{{ external.url }}">{{ external.display_name }}</a>
      </h3>
      <p class="desc">{{ external.bio }}</p>
      <p>
        {% if external.github_username %}
          <a href="https://github.com/{{ external.github_username }}" title="Github">
            <svg><use xlink:href="#icon-github"></use></svg>
          </a>
        {% endif %}
        {% if external.facebook_username %}
          <a href="https://www.facebook.com/{{ external.facebook_username }}" title="Facebook">
            <svg><use xlink:href="#icon-facebook"></use></svg>
          </a>
        {% endif %}
        {% if external.twitter_username %}
          <a href="https://twitter.com/{{ external.twitter_username }}" title="Twitter">
            <svg><use xlink:href="#icon-twitter"></use></svg>
          </a>
        {% endif %}
        {% if external.medium_username %}
          <a href="https://medium.com/@{{ external.medium_username }}" title="Medium">
            <svg><use xlink:href="#icon-medium"></use></svg>
          </a>
        {% endif %}
        {% if external.instagram_username %}
          <a href="https://www.instagram.com/{{ external.instagram_username }}" title="Instagram">
            <svg><use xlink:href="#icon-instagram"></use></svg>
          </a>
        {% endif %}
        {% if external.linkedin_username %}
          <a href="https://www.linkedin.com/in/{{ external.linkedin_username }}" title="LinkedIn">
            <svg><use xlink:href="#icon-linkedin"></use></svg>
          </a>
        {% endif %}
      </p>
    </div>
  </section>

  {% assign external_urls = '' %}
  {% if external.github_username %}
      {% assign external_urls = external_urls | append: '"https://github.com/' | append: external.github_username | append: '",' %}
  {% endif %}
  {% if external.facebook_username %}
      {% assign external_urls = external_urls | append: '"https://www.facebook.com/' | append: external.facebook_username | append: '",' %}
  {% endif %}
  {% if external.twitter_username %}
      {% assign external_urls = external_urls | append: '"https://twitter.com/' | append: external.twitter_username | append: '",' %}
  {% endif %}
  {% if external.medium_username %}
      {% assign external_urls = external_urls | append: '"https://medium.com/@' | append: external.medium_username | append: '",' %}
  {% endif %}
  {% if external.instagram_username %}
      {% assign external_urls = external_urls | append: '"https://www.instagram.com/' | append: external.instagram_username | append: '",' %}
  {% endif %}
  {% if external.linkedin_username %}
      {% assign external_urls = external_urls | append: '"https://www.linkedin.com/in/' | append: external.linkedin_username | append: '",' %}
  {% endif %}

  <script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "{{ external.display_name }}",
      {% if external.photo %}
      "image": "{{ external.photo }}",
      {% else %}
      "image": {{ "/assets/img/user.jpg" | prepend: site.baseurl | prepend: site.url }},
      {% endif %}
      "jobTitle": "{{ external.position }}",
      "url": "{{ external.url | prepend: site.baseurl | prepend: site.url }}",
      "sameAs": [
        {{ external_urls | split: "," | join: "," }}
      ]
  }
  </script>
{% endif %}
