$theme: (
themeColor: #29AB87,
primaryDark: #0B6623,
secondaryDark: #043927,
skyDark: #0B6623,
accentDark: #ffffff,
lightGray: #e8e8e4,
blueGray: #8197a6,
texts: #333333,
accentOrange: #fbab18,
accentRed: #ed1b2f,
accentBlue: #009de1,
accentAqua: #00b19d
);
